<div class="emptyCart">
        <div class="emptyCartContainer">
            <h1 class="cartEmptyH1">Cart Empty 😕</h1>
            <p class="cartEmptyP">You probably haven't ordered a pizza yet. <br>
                To order a pizza, go to the main page.</p>
            <img class="cartEmptyImage" src="/img/empty-cart.png" alt="empty-cart">
            <div class="goBackFromCart">
                <button><a href="/" class="goBackButton">Go back</a></button>
            </div>
        </div>
    </div>