<form action="/login" method="POST">

  <div class="container1">
      <h1>Login</h1>
      <p class="p">Please fill in this form to login.</p>
      <div class="form">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        
    <button type="submit" class="loginBtn">Login</button>
    <label>
  </div>
<p>Don't have an account? <a href="/register">Register</a>.</p>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>